:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

h1 {
  color: orange;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.categoryCard {
  border: solid 1px;
  border-color: white;
  border-radius: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-bottom: 50px;
  padding: 5px;
  align-items: flex-start;
}

.categoryCard h3 {
  color: orange;
  margin: 10px;
}

.productsHolder {
  display: flex;
  flex-direction: row;
  margin: 5px;
  justify-items: center;
}

.productsHolder h3 {
  margin: 0px;
}

.productsHolder h4 {
  margin: 0px;
  font-size: 25px;
}

.productCard {
  display: flex;
  flex-direction: column;
  border: solid 1px;
  border-radius: 10px;
  border-color: gre;
  margin: 16px;
  padding: 12px;
}

.productCard img {
  border-radius: 10px;
  margin-bottom: 5px;
}

.productCard button {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(92, 64, 13);
  color: orange;
}

.productCard button:hover {
  color: rgb(92, 64, 13);
  background-color: orange;
}

.productCard .meta {
  align-self: center;
  display: flex;
  flex-direction: row;
}

.productCard .meta span {
  margin-inline: 5px;
}